// Requirements
// ============

@import "susy";

// Set the grid system and gutters
$susy: (
  columns: 4,
  global-box-sizing: border-box,
  debug: (image: show)
);

.wrap {
  @include container(1140px);
}
